@charset "UTF-8";

.gocenter{
	
left: 40%; 
top: 50%; 
position: absolute;
	
}

.gocenter2{
		
left: 25%; 
top: 50%; 
position: absolute;
	
}

.changeDisply{
	display: inline-block;
}

.toButton{
	cursor: pointer;
	border: 1px dotted gray;
	margin: 10px;
	box-shadow: 2px 2px gray;
	padding: 2px;
	background-image: url("../img/button.png");
}

.borderline{
	border: 1px solid gray;
	left: 30%;
	position: relative;
	
}

.infomsg{
	color: red;
}