<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.scit.www.service.CustomerMapper">
	<insert id="insertCustomer" parameterType="customer">
			 insert into customer(customerNumber, id, password, email)
			 values(cus_Seq.nextval, #{id}, #{password}, #{email})
    </insert>
    
	<select id="findCustomer" resultType="string">
	
	select id 
	from customer
	where id = #{id}
	
	</select>
	
	<select id="findEmail" resultType="string">
	
	select email
	from customer
	where email = #{email}
	
	</select>
	
	<select id="getLogin" resultType="customer" parameterType="customer">
	
	select *
	from customer
	where id = #{id} and password = #{password}
	
	</select>
	
	<!-- ============================================== -->
	
	<select id="getCustomer" resultType="customer">
	
	select *
	from customer
	where id = #{id}
	
	</select>
	
	<update id="updateCustomer" parameterType="map">
	
	update customer
	set id = #{id}, password = #{password}, email = #{email}
	where customerNumber = #{customerNumber}
	
	</update>
	
	<update id="updateCustomer2" parameterType="map">
	
	update customer
	set id = #{id}, email = #{email}
	where customerNumber = #{customerNumber}
	
	</update>
	
	<delete id="deleteCustomer">
	
	delete customer
	where customerNumber = #{customerNumber}
	
	</delete>
	
	
	
	

 </mapper> 