<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias type="org.scit.www.vo.Customer" alias="customer"/>
	<typeAlias type="org.scit.www.vo.Board" alias="board"/>
	<typeAlias type="org.scit.www.vo.Reply" alias="reply"/>
	<typeAlias type="org.scit.www.vo.Gallery" alias="gal"/>
</typeAliases>



</configuration>
